body{
    font-family: 'Press Start 2P', cursive;
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/img/space.jpg");
    /* color: rgb(52, 165, 52); */
    color: white;
}

#snake{
    border-radius: 10px;
}

@media (max-width:1024px) {
    body{
        width: 100%;
    }
}

@media (max-width: 650px){

    body{
        
        width: 100%;
    }

    #snake{
       
        width: 80%;
    }
}